## Python Modules, Packages, and Environments

[GitHub Repo - fork this for peer code review](https://github.com/johnjdailey/lambdata-johnjdailey)

[Package Instructions](https://test.pypi.org/project/buyholdsell/) Or just run this notebook for a tutorial and verification it works.

## Object-Oriented Programming, Code Style and Reviews
Notes and Assignment

https://github.com/LambdaSchool/DS-Unit-3-Sprint-1-Software-Engineering/tree/master/module2-oop-code-style-and-reviews

https://github.com/s2t2/lambda-ds-3-1/blob/master/notes/class-2.md

In [0]:
!pip install -i https://test.pypi.org/simple/ buyholdsell==1.9.7

[Repackaging Notes](https://github.com/s2t2/lambda-ds-3-1/blob/master/notes/class-1.md)

In [0]:
import pandas as pd
import numpy as np
from buyholdsell import urlcsvsplit
# Example URL to be copy and pasted below as the input,
# BTC: https://query1.finance.yahoo.com/v7/finance/download/BTCUSD=X?period1=1279238400&period2=1588896000&interval=1d&events=history

In [0]:
train = urlcsvsplit.train
train

            Date         Open  ...    Adj Close        Volume
0     2010-07-19     0.085840  ...     0.080800          4900
1     2010-07-20     0.080800  ...     0.074740          2000
2     2010-07-21     0.074740  ...     0.079210          4200
3     2010-07-22     0.079210  ...     0.050500         12900
4     2010-07-23     0.050500  ...     0.062620         14100
...          ...          ...  ...          ...           ...
1787  2017-05-24  2321.369873  ...  2443.639893  172537996800
1788  2017-05-25  2446.240234  ...  2304.980225             0
1789  2017-05-26  2320.889893  ...  2202.419922  176348006400
1790  2017-05-29  2159.429932  ...  2255.610352   99462502400
1791  2017-05-30  2255.359863  ...  2175.469971  144397004800

[1792 rows x 7 columns]

In [0]:
test = urlcsvsplit.test
test

            Date         Open  ...    Adj Close        Volume
1792  2017-05-31  2187.189697  ...  2286.409912  154482995200
1793  2017-06-01  2288.330078  ...  2407.879883  165318003200
1794  2017-06-02  2404.029785  ...  2488.550293  131703001600
1795  2017-06-05  2512.399902  ...  2686.809814  136930995200
1796  2017-06-06  2690.839600  ...  2863.199951  208960998400
...          ...          ...  ...          ...           ...
2555  2020-05-04  8895.745117  ...  8912.655273             0
2556  2020-05-05  8912.831055  ...  9003.072266             0
2557  2020-05-06  9007.443359  ...  9268.759766             0
2558  2020-05-07  9261.891602  ...  9951.515625             0
2559  2020-05-08  9936.160156  ...  9842.665039             0

[768 rows x 7 columns]

In [0]:
from buyholdsell.ttclean import ttclean

In [0]:
train = ttclean(train)
train

             Open         High  ...    HL Range    OC Range
0        0.085840     0.077230  ...    0.015840    0.005040
1        0.080800     0.074260  ...    0.007550    0.006060
2        0.074740     0.066340  ...    0.012870    0.004470
3        0.079210     0.050500  ...    0.031310    0.028710
4        0.050500     0.050500  ...    0.017170    0.012120
...           ...          ...  ...         ...         ...
1787  2321.369873  2321.369873  ...  202.349854  122.270020
1788  2446.240234  2285.300049  ...  478.409668  141.260009
1789  2320.889893  2071.989990  ...  501.800049  118.469971
1790  2159.429932  2107.169922  ...  199.879883   96.180420
1791  2255.359863  2124.569824  ...  177.390381   79.889892

[1792 rows x 10 columns]

In [0]:
test = ttclean(test)
test

             Open         High  ...    HL Range    OC Range
1792  2187.189697  2145.570068  ...  165.510010   99.220215
1793  2288.330078  2288.330078  ...  160.059815  119.549805
1794  2404.029785  2373.319824  ...  115.230469   84.520508
1795  2512.399902  2510.219727  ...  176.590087  174.409912
1796  2690.839600  2690.839600  ...  309.070556  172.360351
...           ...          ...  ...         ...         ...
2555  8895.745117  8645.022461  ...  311.882812   16.910156
2556  8912.831055  8856.823242  ...  205.588867   90.241211
2557  9007.443359  8966.704102  ...  444.759765  261.316407
2558  9261.891602  9138.320313  ...  854.345703  689.624023
2559  9936.160156  9767.170898  ...  229.570313   93.495117

[768 rows x 10 columns]

In [0]:
from buyholdsell import predprep

In [0]:
X_train = predprep.X_train
X_train

             Open          Low  ...    HL Range    OC Range
0        0.085840     0.093070  ...    0.015840    0.005040
1        0.080800     0.081810  ...    0.007550    0.006060
2        0.074740     0.079210  ...    0.012870    0.004470
3        0.079210     0.081810  ...    0.031310    0.028710
4        0.050500     0.067670  ...    0.017170    0.012120
...           ...          ...  ...         ...         ...
1787  2321.369873  2523.719727  ...  202.349854  122.270020
1788  2446.240234  2763.709717  ...  478.409668  141.260009
1789  2320.889893  2573.790039  ...  501.800049  118.469971
1790  2159.429932  2307.049805  ...  199.879883   96.180420
1791  2255.359863  2301.960205  ...  177.390381   79.889892

[1792 rows x 9 columns]

In [0]:
y_train = predprep.y_train
y_train

0          0.077230
1          0.074260
2          0.066340
3          0.050500
4          0.050500
           ...
1787    2321.369873
1788    2285.300049
1789    2071.989990
1790    2107.169922
1791    2124.569824
Name: High, Length: 1792, dtype: float64

In [0]:
X_test = predprep.X_test
X_test

             Open          Low  ...    HL Range    OC Range
1792  2187.189697  2311.080078  ...  165.510010   99.220215
1793  2288.330078  2448.389893  ...  160.059815  119.549805
1794  2404.029785  2488.550293  ...  115.230469   84.520508
1795  2512.399902  2686.809814  ...  176.590087  174.409912
1796  2690.839600  2999.910156  ...  309.070556  172.360351
...           ...          ...  ...         ...         ...
2555  8895.745117  8956.905273  ...  311.882812   16.910156
2556  8912.831055  9062.412109  ...  205.588867   90.241211
2557  9007.443359  9411.463867  ...  444.759765  261.316407
2558  9261.891602  9992.666016  ...  854.345703  689.624023
2559  9936.160156  9996.741211  ...  229.570313   93.495117

[768 rows x 9 columns]

In [0]:
y_test = predprep.y_test
y_test

1792    2145.570068
1793    2288.330078
1794    2373.319824
1795    2510.219727
1796    2690.839600
           ...
2555    8645.022461
2556    8856.823242
2557    8966.704102
2558    9138.320313
2559    9767.170898
Name: High, Length: 768, dtype: float64

In [0]:
from buyholdsell.RSI import buyholdsell

In [0]:
buyholdsell(10)

I'm buying

In [0]:
buyholdsell(3)

I'm buying

In [0]:
buyholdsell(31)

I'm holding

In [0]:
buyholdsell(70)

I'm holding

In [0]:
buyholdsell(71)

I'm selling

In [0]:
buyholdsell(100)

I'm selling